<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32586550827-crhe77r42ij9c8umqg4galb9u36kcidc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32586550827-crhe77r42ij9c8umqg4galb9u36kcidc</string>
	<key>API_KEY</key>
	<string>AIzaSyCMtSI8Mr5fn33-3D9k9D9kppe-fcMVmEk</string>
	<key>GCM_SENDER_ID</key>
	<string>32586550827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.berkinkoca</string>
	<key>PROJECT_ID</key>
	<string>flashchatios-9ad2e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios-9ad2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32586550827:ios:3e6610ad20ff756c72a46e</string>
</dict>
</plist>